* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #2c2c2c, #1a1a1a);
}

body {
    gap: 15px;
    flex-wrap: wrap;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.btn {
    position: relative;
    text-decoration: none;
    color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    background: #222;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3 ease;
}

.btn::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 14px;
    background: linear-gradient(45deg, red, orange, yellow, green, cyan, blue, purple, red);
    background-size: 300%;
    animation: rgb 12s linear infinite;
    z-index: -1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: #222;
    border-radius: 10px;
    z-index: -1;
}

@keyframes rgb {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

.btn:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 10px 25 px rgba(0,0,0,0.4);
}

.titulo {
  position: absolute;
  top: 20px;
  font-family: 'UnifrakturCook', cursive;
  font-size: 36px;
  letter-spacing: 2px;
  color: #e0e0e0;
  display: inline-block;
  transform-style: preserve-3d;
  animation: giro 5s linear infinite;
  text-shadow:
    1px 1px 0 #0f0f0f,
    2px 2px 0 #0c0c0c,
    3px 3px 0 #0a0a0a,
    4px 4px 0 #080808,
    5px 5px 0 #050505,
    6px 6px 8px rgba(0,0,0,0.7),
    0 0 12px rgba(255,255,255,0.08);
}

@keyframes giro {
  0% {
    transform: perspective(1000px) rotateY(0deg) translateZ(0px);
    text-shadow:
      6px 0 0 #0f0f0f,
      8px 4px 6px rgba(0,0,0,0.6);
  }

  25% {
    transform: perspective(1000px) rotateY(90deg) translateZ(10px);
    text-shadow:
      0 6px 0 #0f0f0f,
      4px 8px 6px rgba(0,0,0,0.5);
  }

  50% {
    transform: perspective(1000px) rotateY(180deg) translateZ(0px);
    text-shadow:
      -6px 0 0 #0f0f0f,
      -8px 4px 6px rgba(0,0,0,0.6);
  }

  75% {
    transform: perspective(1000px) rotateY(270deg) translateZ(10px);
    text-shadow:
      0 -6px 0 #0f0f0f,
      -4px -8px 6px rgba(0,0,0,0.5);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg) translateZ(0px);
  }
}